<h2
  style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px; color:#4f545c;letter-spacing:0.27px">
  Olá, {{ user }}!</h2>

<p> A {{> empresa }}, recebeu a solicitação para o cancelamento da entrega do produto.</p>
