<h2
  style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight:500;font-size:18px; align:center;
  color:#fff;letter-spacing:0.29px">
  {{ code_active }}</h2>
