<div class="">
  <div class="aHl"></div>
  <div id=":27s" tabindex="-1"></div>
  <div id=":26e" class="ii gt">
    <div id=":26f" class="a3s aXjCH msg6860125975869179623"><u></u>
      <div style="background:#f9f9f9">
        <div style="background-color:#f9f9f9">
          <div style="margin:0px auto;max-width:640px;background:transparent">
            <table role="presentation" cellpadding="0" cellspacing="0"
              style="font-size:0px;width:100%;background:transparent" align="center" border="0">
              <tbody>
                <tr>
                  <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px">
                    <div aria-labelledby="mj-column-per-100" class="m_6860125975869179623mj-column-per-100"
                      style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                      <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                              <table role="presentation" cellpadding="0" cellspacing="0"
                                style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                                <tbody>
                                  <tr>
                                    <td style="width:138px">

                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden">
            <div style="margin:0px auto;max-width:640px;background:#ffffff">
              <table role="presentation" cellpadding="0" cellspacing="0"
                style="font-size:0px;width:100%;background:#ffffff" align="center" border="0">
                <tbody>
                  <tr>
                    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px">
                      <div aria-labelledby="mj-column-per-100" class="m_6860125975869179623mj-column-per-100"
                        style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                <div
                                  style="color:#737f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left">

                                  {{> bemvindo_entrega_product}}
                                  <!--inicio emailSaidaEntrega -->
                                  {{{ body }}}
                                  <!-- fim emailSaidaEntrega -->

                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px"
                                align="center">
                                <table role="presentation" cellpadding="0" cellspacing="0"
                                  style="border-collapse:separate" align="center" border="0">
                                  <tbody>
                                    <tr>
                                      <td style="border:none;border-radius:3px;color:white;padding:10px 19px"
                                        align="center" valign="middle" bgcolor="#43b581">
                                        {{> description_product }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                <div
                                  style="color:#737f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left">
                                  {{> footer_product }}
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="word-break:break-word;font-size:0px;padding:30px 0px">
                                <p style="font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%"></p>
                              </td>
                            </tr>
                            <tr>
                              <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                                <div
                                  style="color:#747f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:13px;line-height:16px;text-align:left">
                                  <p>Facilite o seu dia a dia!</p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="margin:0px auto;max-width:640px;background:transparent">
            <table role="presentation" cellpadding="0" cellspacing="0"
              style="font-size:0px;width:100%;background:transparent" align="center" border="0">
              <tbody>
                <tr>
                  <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px">
                    <div aria-labelledby="mj-column-per-100" class="m_6860125975869179623mj-column-per-100"
                      style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                      <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td style="word-break:break-word;font-size:0px">
                              <div style="font-size:1px;line-height:12px">&nbsp;</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin:0px auto;max-width:640px;background:transparent">
            <table role="presentation" cellpadding="0" cellspacing="0"
              style="font-size:0px;width:100%;background:transparent" align="center" border="0">
              <tbody>
                <tr>
                  <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px">
                    <div aria-labelledby="mj-column-per-100" class="m_6860125975869179623mj-column-per-100"
                      style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                      <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                              <div
                                style="color:#99aab5;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center">
                                Enviado pela a FastFeet </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                              <div
                                style="color:#000000;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:13px;line-height:22px;text-align:left">
                                <img
                                  src="https://ci3.googleusercontent.com/proxy/LtM4UIonBuFxjz60VqXroScI2AjlUrU0UquvsTR9uYQzdHBbH_qtuy5Cz7RiiFd6BJSLDl7wESvroUd7IZcP5SVD9NCczAgQb1hMMfMx--g0NksZjrD385altlOq9SLyGl_AL9-PBuV-5Ih5iEkxINpMcfD5M1Wbu2i8xspNvsqXvcFtGS9Nu1OzT1J5c7UdLLwTQuXnjGkLlzozQ-jd83ysFUrTHfjbpmHBrxPbQiP1R5DqNsEnMJOr=s0-d-e1-ft#https://discordapp.com/api/science/523155343497363466/10c9ca7d-4f7d-4689-bd5f-fb9f179e13c1.gif?properties=eyJlbWFpbF90eXBlIjogInVzZXJfcGFzc3dvcmRfcmVzZXRfcmVxdWVzdCJ9"
                                  width="1" height="1" class="CToWUd">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <img width="1px" height="1px" alt=""
          src="https://ci3.googleusercontent.com/proxy/kozau2gAf_L_a9LflSLGRYmnm8fNMUE6SmLkRT4gTnPUeH7OEF1yoodJkcYP8V6xV84LGak27sCHG0nUqcOxs8MxAYuZBNVdqyRCx2zq42Pvj6_yrfoAWbNuTvOm4G21jdwrgPU2ovY1eDsIvAVnfu-cQ3YmfPkjBLu6qbPiajrGugZa6aT5k2GHSf8kA0ZHDV8kURCzZ_V-qRG2OYGdeEZqsCNn4QnY4cMa2pRe5mJbXA0IZIXqs9zSGk6yEGmdJgfgxqMR_gtEHnoSyQ5uc405TZ2QtQ=s0-d-e1-ft#http://email.mailgun.discordapp.com/o/eJwVzEEOgyAQAMDXlCPZXaBlDxxMCP8AlloaUaPx_60PmJFgmxUsqgcCZCQiBMcWNWo_eYgxRZOSi8ZODwsj92W-Vi39rNshed913Yb6BCZpjkup_g3QTCtPrtlgoWZqeTGoI8g3j76c2_p_5ju66Q_7XiZC"
          class="CToWUd">
      </div>
      <div class="yj6qo"></div>
      <div class="adL">
      </div>
    </div>
  </div>
  <div id=":27n" class="ii gt" style="display:none">
    <div id=":27o" class="a3s aXjCH undefined"></div>
  </div>
  <div class="hi"></div>
</div>
